In [1]:
print("Hello World")

Hello World

# Markdown
Hello

In [1]:
x = -4
y = abs(x)
print(x)
print(y)

-4
4

In [3]:
x = 23.516
y = round(x,2)
print(y)

23.52

In [27]:
x = 2
y = type(x)
print(y)
z = str(x)
y=type(z)
print(z)
print(y)

<class 'int'>
2
<class 'str'>

In [38]:
import math
print(math.tau)

6.283185307179586

In [24]:
unit_price = 49.99
quantity = 30
print(f"Subtotal: ${quantity * unit_price:>20,.2f}")

Subtotal: $            1,499.70

In [10]:
sales_tax_rate = 0.065
print(f"Sales Tax Rate {sales_tax_rate:.2%}")

Sales Tax Rate 6.50%

In [5]:
"""Hello"""

'Hello'

In [6]:
"""This is a multiline comment in Python
This type of comment is sometimes called a docstring.
A docstring starts with three double-quotation marks, and also ends with three
double quotation marks. """

'This is a multiline comment in Python\nThis type of comment is sometimes called a docstring.\nA docstring starts with three double-quotation marks, and also ends with three\ndouble quotation marks. '

In [2]:
user1 = "Alberto"
user2 = "Babs"
output=f"{user1} \n{user2}"
print(output)

Alberto
Babs

In [15]:
# Hello

In [1]:
print('h')

h